<div class="card" *ngIf="encuesta">
  <div class="card-body">
    <h5 class="card-title">Encuesta</h5>
    <p class="card-text"><strong>Atención:</strong> {{ encuesta.atencion }}</p>
    <p class="card-text"><strong>Costo:</strong> {{ encuesta.costo }}</p>
    <p class="card-text"><strong>Calidad:</strong> {{ encuesta.calidad }}</p>
    <p class="card-text"><strong>Nota:</strong> {{ encuesta.nota }}</p>
    <p class="card-text">
      <strong>Tarea ID:</strong> {{ encuesta.id_tarea }}
    </p>
    <a [routerLink]="['/encuesta-detalle', encuesta.encuesta_id]" class="btn btn-primary">Detalles</a>
  </div>
</div>