<div class="card"  [ngClass]="getEstadoClase()" style="width: 18rem;">
  <!-- Mostrar la imagen -->
  <img
    [src]=" 'https://img.freepik.com/fotos-premium/cumplir-eficazmente-tareas-escolares_810293-127600.jpg'"
    class="card-img-top"
    alt="Imagen adjunta"
  />
  <div class="card-body">
    <!-- Nombre de la tarea -->
    <h5 class="card-title">{{ tarea.nombre }}</h5>
    
    <!-- Tipo de tarea -->
    <p class="card-text" *ngIf="tarea.tipo_tarea">
      <strong>Tipo de tarea:</strong> {{ tarea.tipo_tarea }}
    </p>
    
    <!-- Indicaciones -->
    <p class="card-text">
      <strong>Indicaciones:</strong> {{ tarea.indicaciones }}
    </p>
    
    <!-- Rúbrica -->
    <p class="card-text">
      <strong>Rúbrica:</strong> {{ tarea.rubrica }}
    </p>
    
    <!-- Estado con color dinámico -->
    <p class="card-text estado" [ngClass]="tarea.estado | lowercase">
      <strong>Estado:</strong> {{ tarea.estado }}
    </p>
    
    <!-- Fecha de entrega -->
    <p class="card-text">
      <strong>Fecha a realizar:</strong> {{ tarea.fecha_a_realizar | date: 'shortDate' }}
    </p>

    <!-- Botón -->
    <a href="#" class="btn btn-primary">Leer más</a>
  </div>
</div>
